# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
ENV/
env/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs
*.log

# Testing / coverage
.coverage
htmlcov/
.tox/
.pytest_cache/

# IDEs / editors
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Python cache
*.pyo
*.pyd
*.pdb